---
layout: page
title: Previous TaPPs
background: '/img/bg-all.jpg'
---

<!-- {% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if post.author %}
    {{ post.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
  </p>
</article>

<hr>

{% endfor %} -->

<!-- Pager -->
<!-- {% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %} -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="container-fluid table-striped">
				<div class="row-fluid">
					<div class="span12">
						<table class="table">
							<tbody>
								<tr>
									<td>
										TaPP 2022
									</td>
									<td>
										<a href="https://tapp2022.github.io/">14th International Workshop on Theory and Practice of Provenance</a>
									</td>
									<td>
										June 17, 2022
									</td>
									<td>
										Philadelphia, PA, United States <br> <a href="https://dblp.org/db/conf/tapp/tapp2022.html">Proceedings</a>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2021
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp2021" >13th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										July 19, 2021–July 20, 2021
									</td>
									<td>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2020
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp2020" >12th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										June 22, 2020
									</td>
									<td>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2019
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp2019" >11th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										June 3, 2019
									</td>
									<td>
										Philadelphia, PA, United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2018
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp2018" >10th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										July 11, 2018–July 12, 2018
									</td>
									<td>
										London, United Kingdom
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2017
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp2017" >9th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										June 23, 2017
									</td>
									<td>
										Seattle, WA, United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2016
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp16" >8th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										June 8, 2016–June 9, 2016
									</td>
									<td>
										Washington, D.C., United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2015
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp15" >7th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										July 8, 2015–July 9, 2015
									</td>
									<td>
										Edinburgh, Scotland, United Kingdom
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2014
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp14" >6th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										June 12, 2014–June 13, 2014
									</td>
									<td>
										Cologne, Germany
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2013
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp13" >5th USENIX Workshop on the Theory and Practice of Provenance</a>
									</td>
									<td>
										April 2, 2013–April 3, 2013
									</td>
									<td>
										Lombard, IL, United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2012
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp12">4th USENIX Workshop on the Theory and Practice of Provenance
                      </a>
									</td>
									<td>
										June 14, 2012–June 15, 2012
									</td>
									<td>
										Boston, MA, United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2011
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp11">3rd USENIX Workshop on the Theory and Practice of Provenance
                    </a>
									</td>
									<td>
										June 20, 2011–June 21, 2011
									</td>
									<td>
										Heraklion, Crete Greece, United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2010
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp10 ">2nd USENIX Workshop on the Theory and Practice of Provenance
                    </a>
									</td>
									<td>
										February 22, 2010
									</td>
									<td>
										San Jose, CA, United States
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										TaPP 2009
									</td>
									<td>
										<a href="https://www.usenix.org/conference/tapp09">1st Workshop on the Theory and Practice of Provenance
                    </a>
                  </td>
									<td>
										February 23, 2009
									</td>
									<td>
										San Francisco, CA, United States
									</td>
									<td>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
