---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!--             {% if site.description %}
            {% endif %} -->
            <span class="subheading">co-located with <a class="heading" href="https://2022.sigmod.org/">SIGMOD</a></span>
            <br />
            <span class="subheading"><strong>June 17, 2022 (Friday) @Philadelphia, PA, USA <br/> <a class = "heading" href= "https://dblp.org/db/conf/tapp/tapp2022.html>">Proceedings</a> </strong></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        <!--         {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr>

        {% endfor %} -->

        <div class="container-fluid">
          <div class="row-fluid">
            <!--    <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/TaPPs" | relative_url }}">Previous TaPPs &rarr;</a>
        </div> -->
            <div class="span12">
              <!--  			<p>
				<strong><span>Date:</span> June 17, 2022 (Friday)</strong>
			</p>
			<p>
				<strong>Venue: Philadelphia, PA, USA</strong>
			</p> -->
              <p>
                <span>The Theory and Practice of Provenance workshop series was started in San Francisco in 2009. TaPP aims to be a venue for early-stage and innovative research ideas related to provenance, and a forum to encourage exchange of ideas
                  between researchers working on provenance and practitioners or potential users of such research. Industry and academic participants interested in provenance in any setting are welcome, and workshop contributions describing unsolved
                  problems or new potential application areas for provenance research are particularly welcome.</span>
              </p>
              <p>

                <span>This year, TaPP will be co-located with SIGMOD 2022 and will take place on June 17 in Philadelphia, PA. <a href="{{"/TaPPs" | relative_url }}">Previous TaPPs</a></span>
              </p>

              <!-- programe -->
              <h2>
                Workshop Program
              </h2>
              <br />
              <h4>First Session (8:30-10:30) Chair: Professor Adriane Chapman</h4>
              <p><strong>8:30-9:00:</strong> Highlight Videos: brief video presentations of all workshop papers. </p>
              <p><strong>9:00-9:15:</strong> Welcome and Introduction.</p>
              <p><strong>9:15-10:30:</strong> Keynote by Susan Davidson:<strong> Novel Uses of Provenance in Data Science</strong></p>
              <p><strong>10:30-11:00:</strong> Break </p>
              <h4>Second Session (11:00-12:20) Chair: Dr Boris Glavic</h4>
              <p><strong>11:00-11:30:</strong> Michael Leybovich and Oded Shmueli, <strong>Towards Practical Approximate Lineage</strong> (In-person)</p>
              <p><strong>11:30-12:00:</strong> Antoine Amarilli and Yael Amsterdamer, <strong>Worst-case Analysis for Interactive Evaluation of Boolean Provenance</strong> (online)</p>
              <p><strong>12:00-12:20:</strong> Sarah Oppold and Melanie Herschel, <strong>Provenance-based explanations: Are they useful? </strong>(online)</p>
              <h4>Third Session (14:00-15:40) Chair: Dr Daniel Deutch</h4>
              <p><strong>14:00-14:30:</strong> Michael Leybovich and Oded Shmueli, <strong>Efficient Approximate Search for Sets of Lineage Vectors</strong> (In-person)</p>
              <p><strong>14:30-14:50</strong> Nachiket Deo, Boris Glavic and Oliver Kennedy, <strong>Runtime Provenance Refinement for Notebooks</strong> (In-person)</p>
              <p><strong>14:50-15:10:</strong> Yuval Moskovitch, Jinyang Li and H. V. Jagadish, <strong>Bias Analysis and Mitigation in Data-Driven Tools Using Provenance</strong> (In-person)</p>
              <p><strong>15:10-15:40:</strong> Benjamin Dietrich, Tobias Müller and Torsten Grust,<strong> Data Provenance for Recursive SQL Queries</strong> (online)</p>
              <h4>Fourth Session (16:30-18:00) Chair: Dr Yuval Moskovitch</h4>
              <p><strong>16:30-16:45:</strong> TaPP Town Hall</p>
              <p><strong>16:45-17:15:</strong> Gosta Grahne, Tianyi Liu and Nehatollaah Shiri, <strong>Universal provenance for regular path queries </strong>(online)</p>
              <p><strong>17:15-17:35:</strong> Nikolaus Parulian and Bertram Ludäscher, <strong>DCM Explorer: A Tool to Support Transparent Data Cleaning through Provenance Exploration</strong> (online)</p>
              <p><strong>17:35-18:00</strong> Shemon Rawat, Seokki Lee and Taeho Jung,<strong> Measuring Information Gain using Provenance</strong> (In-person)</p>

              <h2>
                Organizers
              </h2>
              <br />
              <h4>
                Program Committee
              </h4>
              <br/>
              <ul>
                <li>
                  Roee Shraga
                </li>
                <li>
                  Yinjun Wu
                </li>
                <li>
                  Khalid Belhajjame
                </li>
                <li>
                  Yuval Moskovitch
                </li>
                <li>
                  Thomas Pasquier
                </li>
                <li>
                  Xiao Yu
                </li>
                <li>
                  Irini Fundulaki
                </li>
                <li>
                  Boris Glavic
                </li>
                <li>
                  Elisa Bertino
                </li>
                <li>
                  Marta Mattoso
                </li>
                <li>
                  Tope Omitola
                </li>
                <li>
                  David Eyers
                </li>
                <li>
                  Melanie Herschel
                </li>
                <li>
                  Paolo Missier
                </li>
                <li>
                  Gianmaria Silvello
                </li>
                <li>
                  Ghita Berrada
                </li>
                <li>
                  Amir Gilad
                </li>
                <li>
                  Grigoris Karvounarakis
                </li>
                <li>
                  Vanessa Braganholo
                </li>
                <li>
                  Matteo Interlandi
                </li>
                <li>
                  David Koop
                </li>
              </ul>
              <br />
              <h4>
                PC Chairs
              </h4>
              <br />
              <ul>
                <li>
                  Daniel Deutch
                </li>
                <li>
                  Tanu Malik
                </li>
              </ul>
              <br />
              <h4>
                TaPP Steering Committee
              </h4>
              <br />
              <ul>
                <li>
                  Adriane Chapman (chair)
                </li>
                <li>
                  James Cheney
                </li>
                <li>
                  Sara Cohen-Boulakia
                </li>
                <li>
                  Ashish Gehani
                </li>
                <li>
                  Melanie Herschel
                </li>
                <li>
                  Bill Howe
                </li>
                <li>
                  Bertram Ludaescher
                </li>
                <li>
                  Tanu Malik
                </li>
                <li>
                  Paolo Missier
                </li>
                <li>
                  Thomas Moyer
                </li>
                <li>
                  Thomas Pasquier
                </li>
                <li>
                  Sudeepa Roy
                </li>
              </ul>
              <br />
              <h2>
                Call for Papers
              </h2>
              <p>
                <span>We invite innovative and creative contributions, including papers outlining new formal approaches to provenance, innovative use of provenance, experience-based insights, and visionary ideas.</span>
              </p>
              <br />
              <h4>
                Topics of interest include, but are not limited to:
              </h4>
              <ul>
                <li>
                  <span>Theoretical foundations of provenance</span>
                </li>
                <li>
                  <span>Novel provenance models and standard proposals</span>
                </li>
                <li>
                  <span>Provenance analytics, querying, and reasoning about provenance</span>
                </li>
                <li>
                  <span>Provenance Visualization and Human interaction with provenance</span>
                </li>
                <li>
                  <span>Provenance for Accountability, Transparency and Explanations</span>
                </li>
                <li>
                  <span>Provenance management system prototypes and commercial solutions</span>
                </li>
                <li>
                  <span>Provenance and Privacy</span>
                </li>
                <li>
                  <span>Provenance and Data Quality</span>
                </li>
                <li>
                  <span>Provenance for Transparent Research</span>
                </li>
              </ul>
              <br />
              <h4>
                Format:
              </h4>
              <p>
                Papers should be formatted using the ACM format (<a href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>). Papers should be no longer than <strong>8 pages</strong>
                including references.
              </p>
              <br />
              <h4>
                Additional Types of Submissions:
              </h4>
              <p>
                In addition to regular research papers, we also encourage submissions of the following flavors:
              </p>
              <p>
                <strong>Short papers</strong> (up to 4 pages, including references) that would typically include work in progress or visionary ideas that are not yet fully developed, but have the potential to lead to cutting-edge research.
              </p>
              <p>
                <strong>Application papers</strong> (up to 6 pages, including references) focusing on innovative applications and uses of provenance.
              </p>
              <p>
                All submitted papers must be self-contained and not have been published or currently under review elsewhere.
              </p>
              <h4>
                Important Dates:
              </h4>
              <p>
                <strong>Paper Submission Deadline</strong> (no need for abstract registration): April 2, 2022 Please note this is the final extension and a hard deadline.
              </p>
              <p>
                <strong>Acceptance Notification</strong> : April 27, 2022
              </p>
              <p>
                <strong>Camera-Ready Deadline</strong> : May 9, 2022
              </p>
              <p>
                (All deadlines are 23:59 Anywhere on Earth)
              </p>
              <h4>
                Submission Site:
              </h4>
              <p>
                Submission is via easychair, using the following link: <a href="https://easychair.org/conferences/?conf=tapp22">https://easychair.org/conferences/?conf=tapp22</a>
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
